@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@mixin centre {
    width: 1180px;
    margin: 0 auto;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: auto;
    font-family: 'Montserrat';
}

.header {
    @include centre;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.header-blue {


    background-color: #00093C;

}

.header-blue-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 1180px;
    @include centre;
    color: #fff;

    & .navbar a {
        color: #fff;
    }
}

.white-burger {
    margin-right: 6px;
}

.navbar {
    max-width: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat';
    font-weight: 500px;

}

.navbar-item {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    font-size: 14px;
}

.navbar-item a {
    text-decoration: none;
    color: #000;

}

#burger {
    margin-right: 6px;
}

//Войти
.join {
    margin-right: 0 !important;
}

#city {
    text-decoration: underline;
    margin-right: 10px;
}

#pin {
    margin-right: 9px;
}

#white-pin {
    margin-right: 9px;
}

#arrow {
    margin-right: 40px;
}

#white-arrow {
    margin-right: 40px;
}

.container {
    margin: auto;
    display: block;



}

.main {
    height: 480px;
    background: url("img/points.png") -150px 0 no-repeat, url("img/blue-rectangle.png") -150px 0 no-repeat, url("img/slider.png") -150px 0 no-repeat;
    padding: 103px 0 0 200px;
    font-family: 'Montserrat';
    font-weight: 700px;
    max-width: 1180px;
    margin: 0 auto;
    display: block;

}

.title {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.title-item1 {
    margin-bottom: 26px;
}

.title-item2 {
    margin-bottom: 44px;
    color: #fff;
}

.title-description {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.svg {
    position: absolute;
}

#cross {
    position: relative;
    top: -227px;
    left: -167px;
}

#first-line {
    position: relative;
    right: 168px;
    top: 78px;
}

#triangle {
    position: relative;
}

#circle {
    position: relative;
    top: -284px;
    left: 162px;
}

#line-second {
    position: relative;
    top: -168px;
    left: -109px;
}

#line-third {
    position: relative;
    top: -216px;
    right: 67px;
}

#triangle-second {
    position: relative;
    top: -260px;
    right: -100px;
}

.filters {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 18px;

    & a {
        text-decoration: none;
        color: #000;
    }
}

.filters-item {
    display: flex;
    align-items: center;
}

#children-svg {
    margin-right: 16px;
}

.svg-sort {
    margin-right: 16px;
}

.hr-undersort {
    width: 850px;
}

.subjects {
    max-width: 760px;
    margin: auto;


}

.subjects-list {
    margin: 0;
    padding: 0;

    & li:hover {
        box-shadow: 0 0 20px #27AAE1;
    }
}

.subjects-item {
    display: inline-block;
    border: 1px solid #000;
    padding: 16px 20px;
    border-radius: 6px;
    margin: 10px;
    text-decoration: none;
    color: #000;
    list-style: none;
    box-shadow: 0 0 4px #27AAE1;

    & a {
        text-decoration: none;
        color: #000;
    }
}

.svg-owl {
    width: 1180px;
    margin: 0 auto;
}

.owl1 {
    position: absolute;
}

.owl {
    position: relative;
    right: 105px;
    bottom: 27px;

}

.owl-cloud {
    position: relative;
    bottom: 180px;
    right: 234px;
    z-index: -1;
}

.owl-text {
    max-width: 260px;
    position: relative;
    bottom: 366px;
    left: -45px;
}

.video-container {
    display: flex;
    justify-content: center;

}

.video {
    margin: 50px auto;
    margin-bottom: 116px;
    background-color: #00093C;
    box-shadow: 0 0 4px #00093C;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 9, 60, .6), rgba(0, 9, 60, .6)), url(/img/video.png);
}

.statistics {
    margin: 0 auto;
    max-width: 1180px;
    font-weight: 700;
    font-size: 24px;


}

.statistic-item {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.statistic-title {
    color: #fff;
    font-weight: 700;
    font-size: 86px;
    line-height: 105px;
    text-transform: capitalize;
    background: linear-gradient(135deg, #eb934f 10%, #63a9da 50%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.count-courses {
    margin-right: 100px;
}

.statistic-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    max-width: 250px;
    margin-bottom: 82px;
}

.main-info {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #F7BC75;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    & .date-description {
        max-width: 532.75px;
        margin: 26px 222px 0 0;
    }
}

.register {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 17px 61px;
    max-height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    &:hover {
        background-color: #fff;
        transition: 0.5s;
    }
}

.date {
    margin-right: 53px;

}

.number {
    font-size: 86px;
    font-weight: bold;


}

.number-date {
    font-size: 27px;
}

#description-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 29px;


}

.description-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.register-text {
    margin-right: 10px;
}

.blocks {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;

}


.program-courses {
    padding: 33px 0 50px 0;
    width: 480px;
    background-color: #C5DDFF;
    border-radius: 20px;
    margin-right: 20px;
}

.monitor {
    margin-bottom: 37px;
}

.program-title {
    margin-bottom: 41px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px
}

.program-text {
    padding: 0 40px;
    margin-bottom: 61px;
}

.program-link {
    padding: 12px 61px;
    width: 222px;
    border: 2px solid #00093C;
    border-radius: 10px;
    text-decoration: none;
    color: #000;

    &:hover {
        background-color: #fff;
        transition: 0.5s;
    }
}

.top-blocks {
    display: flex;
    margin-bottom: 20px;


}

.news1,
.world {
    width: 330px;
    height: 220px;
    padding-top: 33px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    & img {
        margin-bottom: 46px;
    }

    & a {
        text-decoration: none;
        color: #000;
    }
}

.news1 {
    background-color: #B8EFCF;
    margin-right: 20px;
    border-radius: 20px;

}

.world {
    background-color: #FFEEF6;
    border-radius: 20px;

}

.bottom {
    text-align: start;
    display: flex;
    background-color: #FFE38E;
    border-radius: 20px;
    padding: 58px 0 58px 50px;
    max-width: 680px;
    transition: 0.4s ease;
   
    

    & img {
        margin-right: 60px;
    }
}
.try-link{
    transition: 0.4s ease;
    text-decoration: none;
    color: #000;
    & :hover{
        background-color: #fff;
    }
}
.bottom-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
    
    
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    max-width: 400px;

}

.greetings {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 60px;
}

.characteristics {
    display: flex;
    justify-content: space-evenly;
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 158px;
}

.characteristics-item {
    text-align: center;

    img {
        margin-bottom: 30px;
    }
}

.char-text {
    max-width: 280px;
}

.user-data {
    margin: 0 auto;
    width: 1180px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 2px #27AAE1;
}

.user-info {
    display: flex;
    justify-content: flex-end;
}

.user-name {

    margin-bottom: 20px;

    & input {
        background: rgba(0, 9, 60, 0.1);
        border-radius: 6px;
        width: 421px;
        border: none;
        padding: 16px 0 16px 19px;
    }
}

.phone-block {

    width: 210px;

    & input {
        width: 190px;
        background: rgba(0, 9, 60, 0.1);
        border-radius: 6px;
        border: none;
        padding: 16px 0 16px 19px;

    }

    & p {
        width: 210px;
        font-size: 11px;

    }
}

.mail-block {
    width: 210px;
    margin-left: 20px;
    text-align: center;

    & input {
        width: 190px;
        background: rgba(0, 9, 60, 0.1);
        border-radius: 6px;
        border: none;
        padding: 16px 0 16px 19px;
    }
}

.username {
    background-color: rgba(0, 9, 60, 0.1);
    border-radius: 6px;
    padding: 16px 0 16px 19px;
    border: none;

}

.send-btn {
    margin-top: 20px;
    background: #F7941D;
    border-radius: 6px;
    width: 210px;
    padding: 12px 56px;
    color: #fff;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;

    & :hover {
        transition: .8s;
        background: blue;
    }
}

.form {
    width: 1140px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 6px #27AAE1;
    margin: 0 auto;
    padding: 40px 40px 40px 0;
    text-align: end;
    margin-bottom: 5px;

}

.position {
    margin: 0 auto;
    width: 1180px;
    position: sticky;

}

owl-svg {
    position: absolute;
    display: flex;
    overflow: hidden;
}

.big-owl {
    position: absolute;
    top: 11px;
}

.big-cloud {
    position: absolute;
    left: 267px;
    top: 20px;
    z-index: 1;
}

.cloud-question {
    position: absolute;
    width: 352.8px;
    z-index: 2;
    left: 320px;
    top: 30px;
}

.footer {
    max-width: 100%;
    background-color: #00093C;
    padding: 70px 0 56px 0;
    margin: 0 auto;
}

.requisites {
    margin-top: 140px;
}

.white-logo {
    margin-bottom: 43px;
}

.phone-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 12px;
}

.addres {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 12px;
    color: #fff;
}

.company-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 38px;
    color: #fff;
}

.icons {
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.copyrights {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footer-title {
    margin: 0;
    padding: 0;
    color: #fff;

    & a {
        text-decoration: none;
    }

}

.footer-item {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;

}

.footer-container {
    margin: 0 auto;
    width: 1180px;
    display: flex;
    justify-content: space-evenly;

}

.footer-list {
    display: flex;
    justify-content: space-between;

}

.footer-title1 {
    margin-right: 60px;
}

.footer-item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;

}

.all-courses-title {
    @include reset;
    @include centre;
    margin: 36px auto 57px auto;
}

.level {
    @include reset;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.all-program {
    @include reset;
    @include centre;
    display: flex;
}

.radio-filters {
    width: 280px;
    margin-right: 23px;

}

.all-courses-hr {
    width: 1180px;
    margin-bottom: 26px;
}

.radio-button {
    @include reset;
}

.radio-block {
    margin-bottom: 25px;

}

.radio-hr {
    width: 100%;
}

.slidecontainer {
    width: 100%;
    margin: 21px 0 80px 0;
}

.adv {
    width: 280px;
    height: 400px;
    background-color: #E0E0E0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch {
    @include reset;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.branch-nav {
    @include reset;
    display: block;


    & a {
        text-decoration: none;

        margin-right: 20px;

        border: 2px solid #363636;

        border-radius: 6px;


        padding: 16px 20px;


    }

    & a:hover {
        border: 4px solid #363636;
    }

}

.branch-nav-item {
    list-style: none;
    display: inline-block;
    color: #000;
    margin-bottom: 53.5px;
}


.cards-item {
    width: 376px;
    height: 184px;
    margin-bottom: 20px;
    background-color: #C7EEFF;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(39, 170, 225, 0.9);

    padding: 28px 0 38px 29px;


    & p {
        max-width: 358px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #4F4F4F;
        margin-bottom: 26px;
    }

}

.cards-link:hover {
    border: 6px solid rgba(39, 170, 225, 0.1);
    border-radius: 20px;
    transition: 0.2s;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;

    & a {
        text-decoration: none;
        color: #000;
        margin-right: 20px;
    }
}

.card-item-span {
    display: block;
    margin-bottom: 16.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}

.card-item-title {
    display: flex;

    & h2 {
        @include reset;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        max-width: 329px;
        margin-bottom: 12px;
        color: #00093C;
    }

    & img {
        margin-right: 20px;
    }
}

.duration {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.chess-main {

    background-color: #00093C;
    color: #fff;
    width: 100%;
}

.chess-main-container {
    max-width: 1180px;
    @include centre;
    display: flex;
    justify-content: space-between;
}

.chess-main-description {
    padding: 39px 0 30px 0;
}

.chess-main-title {
    @include reset;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
}

.chess-main-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

}

.chess-main-time {
    display: flex;
    margin: 37px 0 42px 0;

    & hr {
        width: 100%;
    }
}

.chess-time-item {
    margin-right: 30px;
}

.price {
    max-width: 285px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 33px;
    display: block;

    & hr {
        width: 100%;
    }
}

.free-lesson {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: block;
    margin-bottom: 12px;
}

.chess-main-advice {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    display: block;
}

.enroll-in-course {
    display: inline-block;
    padding: 12px 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background-color: #F7941D;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    font-family: 'Montserrat';
    cursor: pointer
}

.couse-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height:     26px;


}

.chess-svg-container {
    @include centre;
    width: 1180px;
    position: absolute;
    display: inline;

}

.hourse-svg {
    position: relative;
}

.hourse-svg1 {
    position: relative;
    bottom: 456px;
    left: 481px;
}

.circle-svg {
    position: relative;
    top: -288px;
    left: 487px;
    z-index: 1;
}

.chess-aim-container {
    width: 1180px;
    margin: 110px auto 142px auto;
    display: flex;
}


.chess-owl {
    margin-right: 50px;
    width: 350px;
}

.chess-owl-text {
    position: relative;
    display: inline-block;
    top: -52px;
    right: 41px;
}

.chess-owl-span {
    position: relative;
    display: inline-block;
    bottom: 300px;
    right: -25px;
}

.chess-aims {
    display: flex;

}

.chess-figures {
    margin: 0 20px 0px 0;
    max-width: 180px;

    & h2 {
        @include reset;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    & span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

.chess-figure1 {
    margin: 6px 0 16.5px 0;
}

.chess-figure {
    margin-bottom: 16px
}

.chess-figures4 {
    margin-right: 0 !important;
}

.chess-video-container {
    max-width: 1180px;
    @include centre;
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.chess-video-item {
    border-radius: 20px;

}


.chess-description-container {
    max-width: 1180px;
    @include centre;
    margin-bottom: 30px;

    & h2 {
        @include reset;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        line-height: 34px;
    }

    & p {
        @include reset;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        max-width: 900px;
        margin-bottom: 31px;
    }
}

.chess-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.chess-ico {
    width: 180px;

    & span {
        display: inline-block;
    }

}

.chess-bg-container {
    width: 100%;
    background-size: cover;
    background: url(img/chess-bg.png) 0 0 repeat;

}

.chess-bg-items {
    @include centre;

}

.chess-bg-item {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 52px;


    & p {
        width: 486px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-top: 91px;

    }
}

.chess-btn-container {
    display: flex;
    justify-content: center;



}

.chess-bg-btn {
    background: #F7941D;
    border-radius: 10px;
    border: none;
    box-shadow: none;

    padding: 12px 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    font-family: 'Montserrat'

}

.chess-underbg {
    background-color: #00093C;
    width: 100%;
    height: 50px;
    margin-bottom: 84px;
}

.chess-academy-title {
    @include reset;
    @include centre;

    & hr {
        display: inline-block;
    }

    & h2 {
        @include reset;
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 36px;
        line-height: 34px;
    }

    & p {
        @include reset;
        max-width: 979px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }
}

.course-title {
    margin: 86px 0 11px 0 !important;
}

.enroll {
    margin-bottom: 71px;
}

.our-teachers-container {
    width: 100%;
    background: url(img/full-points.png) 0 0 repeat, #00093C;
    background-size: contain;
    overflow: hidden;
    margin-bottom: 61px;

}

.our-teachers {
    padding-top: 62px;
    @include centre;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 91px;

}

.teachers-title {
    @include reset;
    display: block;
    text-align: center;
    margin-bottom: 42px;
}

.teachers-cards {
    display: flex;
    justify-content: space-between;
}

.teachers-card {
    text-align: center;
    width: 280px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #000;
    transition: .6s ease;

    &:hover {
        transform: scale(1.3)
    }
}

.teacher {
    margin-bottom: 35px;
    margin-top: 30px;
}

.teachers-name {
    @include reset;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    display: block;
}

.teachers-description {
    max-width: 240px;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
}

.registration {
    margin: 204px auto 100px auto;
    max-width: 580px;
    text-align: center;
}

.registration-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    & a {
        text-decoration: none;
        color: #000;
    }

    & hr {
        width: 100%;
    }
}

.sign-up {
    width: 280px;
}

.sign-in {
    width: 280px;
}

.registration-input {
    display: block;
    margin: 0 auto;
    width: 361px;
    background: #DDDFE6;
    border-radius: 6px;
    height: 50px;
    font-size: 14px;
    border: none;
    padding-left: 19px;

}

.registration-input1 {
    margin: 49.5px auto 20px auto;
}

.registration-input2 {
    margin-bottom: 20px;
}

.registration-input3 {
    margin-bottom: 36px;
}

.registration-icons {
    width: 192px;
    margin: 19px auto 32px auto;
    display: flex;
    justify-content: space-between;
}

.reg-btn {
    background: #F7941D;
    border-radius: 6px;
    width: 180px;
    height: 50px;
    border: none;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}
