@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gmxiet');
  src:  url('fonts/icomoon.eot?gmxiet#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gmxiet') format('truetype'),
    url('fonts/icomoon.woff?gmxiet') format('woff'),
    url('fonts/icomoon.svg?gmxiet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger .path1:before {
  content: "\e911";
  color: rgb(15, 5, 5);
}
.icon-burger .path2:before {
  content: "\e912";
  margin-left: -1.1767578125em;
  color: rgb(16, 5, 5);
}
.icon-logo .path1:before {
  content: "\e900";
  color: rgb(0, 9, 60);
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -1.408203125em;
  color: rgb(15, 5, 5);
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -1.408203125em;
  color: rgb(16, 5, 5);
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -1.408203125em;
  color: rgb(15, 5, 5);
}
.icon-logo .path5:before {
  content: "\e904";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path6:before {
  content: "\e905";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path7:before {
  content: "\e906";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path8:before {
  content: "\e907";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path9:before {
  content: "\e908";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path10:before {
  content: "\e909";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path11:before {
  content: "\e90a";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path12:before {
  content: "\e90b";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path13:before {
  content: "\e90c";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path14:before {
  content: "\e90d";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path15:before {
  content: "\e90e";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path16:before {
  content: "\e90f";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path17:before {
  content: "\e910";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
